.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
  }
  .navbar p{
      color: whitesmoke;
      font-size: 30px;
      margin-left: 3rem;
      font-weight: bold;
      text-decoration: none;
  }
  .links {
    margin-right: 3rem;
    display: flex;
    align-items: center;
  }
.links:hover{
    cursor: pointer;
}
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 21px;
  }
.cart-bubble{
    position: absolute;
    right: 44px;
    top: 9px;
    transform: rotate(-20deg);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 14px;
}
